{% extends "body/image.html" %}
{% block content %}

   {% include "leaf/cards.html" %}
   <div class="ui vertical stripe segment">
      <div class="ui text container">
         {% for key, value in context.items() %}
         <h3 class="ui header">{{ key }}</h3>
         <p>{{ value }}</p>
         <a class="ui large button">Read More</a>
         <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
         </h4>
         {% endfor %}
      </div>
      {% include "leaf/plusUltra.html" %}
   </div>

{% endblock %}