{% extends "layout.html" %}
{% block title %} Pink Paper {% endblock %}
{% block body %}
<div class="ui container">
   <div class="ui placeholder" style="height: 40px"></div>
   <div class="heavy frame purple border" style="height: 300px; width: 270px">
      <div class="frame fill pink">
         <span class="txt frame heavy purple underline">
            <p class="empty purple txt bold">
               <span class="pink txt">
                  lorem ipsum dolor sit amet,
               </span>
            </p>
         </span>
         <p class="txt bold">
            <span class="purple txt">
               lorem ipsum dolor sit amet,
            </span>
         </p>
      </div>
   </div>
   <div class="rotate circular frame pink border" style="height: 100px; width: 100px; left: 270px; top: 320px;">
      <div class="frame fill purple">
         <p class="txt bold">
            <span class="pink txt">
               lorem
            </span>
         </p>
      </div>
   </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}