{% if plusUltra == True %}
   <div class="ui text container">
      <form action="" method="get">
         <div class="ui form">
            <div class="field">
               <label>Short Text</label>
               <textarea rows="2" name="title"></textarea>
            </div>
            <div class="field">
               <label>Text</label>
               <textarea name="description"></textarea>
            </div>
            <input class="ui button" type="submit" value="Submit">
         </div>
      </form>
   </div>
{% endif %}