$search-width: 330px;
$title-width: 728px;
$logo-width: 65px;
$num-radius: 19px;

.search_bar, .title_bar, .logo_bar, .title_bar .num {
  height: 100%;
  position: absolute;
}

.menu {
  background: linear-gradient(to right, rgb(147,184,116), #e0e0e0);
}

.title_bar {
  width: $title-width;
  right: $logo-width;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: calc(100% - 6px);
  bottom: 0;
  border-bottom: 3px solid rgb(147,184,116);
}

.title_bar .num {
  border-top-right-radius: 4px;

  height: 100%;
  width: 60px;
  background-color: rgb(147,184,116);

  right: 0px;
  bottom: 0px;
}

.num .inner {
  background-color: #ececec;
  border-radius: 500px;
  padding: 4px;
  margin: 3px;
}

body {
  min-width: 1000px;
}