<link rel="stylesheet" href="{{ url_for('static', filename='semantic/dist/semantic.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='image.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='pinkPaper/border.css') }}"/>
<script src="{{ url_for('static', filename='jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='semantic/dist/semantic.min.js') }}"></script>