
html, body {
    height: 100%
}

body, h1, h2, h3, h4, p, li, textarea {
    font-family: Helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased
}

img {
    border: none
}

* {
    margin: 0;
    padding: 0
}

:focus {
    outline: none
}

::-moz-focus-inner {
    border: 0
}

body {
    background-color: #ecebe8;
    color: #545454;
    margin: 0px;
    padding: 0px;
    font-size: 1em
}

a {
    color: #363;
    text-decoration: none
}

a[title^='User'] {
    color: #383 !important
}

a:hover {
    text-decoration: underline
}

.anchor {
    display: block;
    position: relative;
    top: -39px;
    visibility: hidden
}

ol {
    padding: 0
}

h1 {
    font-size: 35px;
    color: #222222;
    line-height: normal;
    margin: 0;
    text-align: left
}

h1 a {
    color: #222222
}

h1 a:hover {
    text-decoration: none
}

h2, legend {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    padding: 0;
    color: #222222;
    line-height: 18px
}

legend {
    color: #545454
}


.section h2 {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    line-height: 62px;
    background-color: #f6f5f4;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    z-index: 3
}

.section h2 span {
    margin-left: 27px
}

.section h2 .editsection {
    margin: 0 27px 0 0
}

h3, h4 {
    font-size: 20px;
    font-weight: bold;
    color: #222222;
    line-height: 18px;
    width: 100%;
    background-color: #f6f5f4
}

.section h3 {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0px;
    line-height: 29px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #f6f5f4
}

.section.steps h3 {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0
}

.minor_section .section.steps h3, .minor_section .section h2, #wikiPreview .section.steps h3, #wikiPreview .section h2 {
    background-color: #ECEBE8
}

div.section h3 span, .section h4 span {
    display: block;
    margin-left: 0px;
    padding: 16px 0px 15px 50px
}


.section h4 span {
    padding-top: 25px;
    padding-bottom: 11px
}

.section h3 .editsection {
    margin: 12px 27px 0 10px
}

div.section.sample h3 span {
    padding-left: 27px
}

.section h2.sticking, .section h3.sticking, .tool div.sticking {
    position: fixed;
    top: 39px;
    width: 728px;
    left: auto;
    z-index: 998;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
}

.tool div.sticking {
    margin-left: 0;
    width: 697px
}

div.thumbnail img {
    min-width: 120px;
    min-height: 120px;
    display: block
}

div.thumbnail div.text {
    min-width: 120px;
    min-height: 30px
}

.altblock {
    height: 18px;
    width: 18px;
    background-color: #93b874;
    float: left;
    margin-right: 8px
}

.steps .altblock, .qa.section .altblock {
    height: 50px;
    width: 60px;
    margin: 0 15px 0 0;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0
}
/* ------------------------ *\

       pikh

\* ------------------------ */
undefined
div.section.steps h3 .altblock span {
    font-size: 21px;
    padding: 0
}

.section .altblock {
    margin: 21px 8px 0 25px
}

.section.steps .altblock {
    margin: 0 15px 0 0
}

undefined
undefined
undefined
h4 {
    font-weight: normal;
    line-height: 23px;
    margin: -14px 0 0 0
}

undefined
h5 {
    font-size: .9em;
    color: #222
}

sup {
    line-height: normal
}

undefined
undefined
p {
    margin: 0;
    padding: 0
}

.clearall {
    clear: both
}

undefined
undefined
textarea, select {
    border: 2px solid #999999;
    padding: 5px;
    font-size: 14px;
    color: #000000
}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
.search_box::-webkit-input-placeholder {
    color: #FFF;
    opacity: 1
}

undefined
undefined
.search_box:-ms-input-placeholder {
    color: #FFF;
    opacity: 1
}

.search_box::-ms-input-placeholder {
    color: #FFF;
    opacity: 1
}

.search_box:placeholder-shown {
    color: #FFF;
    opacity: 1
}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
undefined}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
.section ul, .section ol {
    padding: 5px 5px 20px 25px
}

.section li {
    margin-bottom: 5px
}

.section {
    padding: 60px 0px 0 0px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 25px;
    position: relative;
    line-height: 25px
}

undefined
.section_text {
    padding: 15px;
    background-color: #ffffff
}

.section_text a {
    word-wrap: break-word
}

.steps .section_text {
    background-color: inherit;
    padding: 0;
    border: none
}

.steps ul {
    background-color: #FFF
}

undefined
undefined
undefined
undefined
undefined.section_text {
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px
}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
.steps_list_2 li {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    color: #545454;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px 20px 15px 20px;
    clear: both;
    position: relative
}

undefined
undefined.steps_list_2 li.hasad {
    padding-bottom: 0
}

.step {
    margin-right: 40px
}

.mwimg {
    line-height: 0px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden
}

.mwimg a.image {
    display: block;
    overflow: hidden
}

.steps_list_2 .mwimg.largeimage {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -21px
}

undefined
undefined
undefined
h3 + div ol.steps_list_2 > li:first-child {
    border-radius: 0 0 4px 4px
}

h3 + div ol.steps_list_2 > li:first-child div.mwimg {
    border-radius: 0
}

ol.steps_list_2 li > div.mwimg.largeimage {
    border-radius: 4px 4px 0 0
}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
undefined
undefined
undefined}

@media only screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
undefined}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
.mwimg.largeimage img:not(.placeholder) {
    width: 100%;
    height: auto
}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
.steps_list_2 li li {
    border: none;
    margin: 0;
    list-style: disc;
    padding: 0
}

undefined
undefined.steps_list_2 ul {
    padding-left: 55px;
    padding-top: 5px
}

undefined
.step_num {
    font-size: 43px;
    color: #545454;
    padding: 8px 15px 3px 0;
    float: left;
    font-weight: bold
}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
li.hasad {
    padding-bottom: 0
}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
fieldset {
    padding: 5px;
    margin-bottom: 10px;
    line-height: 20px
}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined

