<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu_item.css') }}"/>
</head>
<body>
    <!--<div class="menu"></div>
    <div class="item">
        <div class="img-container">
            <img src="http://localhost:5000/static/img/almonds.jpg"/>
            <div class="cover"></div>
        </div>
        <div class="title">ریدی بابا</div>
    </div>-->
    <!--<div class="item extended">
        <div class="img-container">
            <img src="http://localhost:5000/static/img/almonds.jpg"/>
            <div class="cover"></div>
        </div>
        <div class="title">ریدی بابا</div>
    </div>-->
    <div class="recommendation">
        <div class="rec-item"></div>
    </div>
</body>
</html>